<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h3 class="text-center"> Home </h3>
        </div>
    </div>

    <div class="row">
        <div class="col mb-2">
            <div class="card float-md-right" style="width: 18rem;">
                <img class="card-img-top" src="assets/robot-big.png" alt="Card image cap">
                <div class="card-body text-center">
                    <a href="/storobot" class="btn btn-primary">Go to store</a>
              </div>
            </div>
        </div>
        
        <div class="col mb-2">
            <div class="card float-md-left" style="width: 18rem;">
                <img class="card-img-top" src="assets/user.png" alt="Card image cap">
                <div class="card-body text-center">
                    <a href="/user-profile" class="btn btn-primary">Go to your profile</a>
              </div>
            </div>
        </div>
    </div>
</div>
